@import url(./header.css);
@import url(./main.css);
@import url(./AJAX.css);
@import url(./form.css);

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}


@media screen and (max-width: 1024px) {

    /* HEADER START */
    .page-header{
        width: 100%;
    }
    
    .page-header__left-side{
        padding-left: 60px;
        max-width: 512px;
        width: 100%;
    }
    
    .page-header__right-side{
        padding-right: 60px;
        max-width: 512px;
        width: 100%;
    }
    /* HEADER END */

    /* MAIN START */
    .page-main{
        max-width: 1024px;
    }
    
    .page-main__title{
        display: none;
    }
    
    .page-main__title2{
        display: block;
        color: #FFF;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
        width: 380px;
        line-height: 40px;
    }
    /* MAIN END */

    /* AJAX START */
    .AJAX{
        max-width: 904px;
    }
    
    .cards{
        gap: 29px;
    }
    /* AJAX END */

    /* FORM START */
    .page-form__container{
        max-width: 904px;
    }
    /* FORM END */
}


@media screen and (max-width: 768px) {

    /* HEADER START */
    .page-header{
        width: 100%;
    }
    
    .page-header__left-side{
        padding-left: 32px;
        max-width: 384px;
        width: 100%;
    }
    
    .page-header__right-side{
        padding-right: 32px;
        max-width: 384px;
        width: 100%;
    }
    /* HEADER END */

    /* MAIN START */
    .page-main{
        max-width: 768px;
        max-height: 500px;
    }
    
    .page-main__title2{
        display: block;
        color: #FFF;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
        width: 380px;
        line-height: 40px;
    }
    /* MAIN END */

    /* AJAX START */
    .AJAX{
        max-width: 704px;
        height: auto;
    }
    
    .cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    /* AJAX END */

    /* FORM START */
    .page-form__container{
        max-width: 704px;
        height: auto;
        /* max-height: 741px; */
    }
    /* FORM END */
}


@media screen and (max-width: 540px) {

    /* HEADER START */
    .page-header{
        width: 100%;
    }
    
    .page-header__left-side{
        padding-left: 13px;
        max-width: 270px;
        width: 100%;
    }
    
    .page-header__right-side{
        padding-right: 12px;
        max-width: 270px;
        width: 100%;
    }
    /* HEADER END */

    /* MAIN START */
    .page-main{
        max-width: 540px;
        max-height: 500px;
    }
    
    .page-main__title2{
        display: block;
        color: #FFF;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
        width: 380px;
        line-height: 40px;
    }
    /* MAIN END */

    /* AJAX START */
    .AJAX{
        max-width: 508px;
        height: auto;
    }
    
    .AJAX__title{
        width: 328px;
        text-align: center;
    }
    
    .cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    /* AJAX END */

    /* FORM START */
    .page-form__container{
        max-width: 508px;
        height: 100%;
        max-height: 741px;
    }
    
    .page-form__title{
        width: 100%;
        max-width: 508px;
        text-align: center;
    }
    
    .page-form__field{ 
        max-width: 328px;
    }
    
    .page-form__field2{
      width: 100%;
      max-width: 328px;
    }
    
    .upload-section{
        width: 328px;
    }
    
    .upload-btn-box{
        width: 328px;
    }
    
    .upload-btn-box2{
      max-width: 328px;
      width: 100%;
    }
    /* FORM END */
}
